#announcements {
    text-align:center;
}

#instructions {
    display: block;
    
}

body {
    background: url(../images/background.jpg);
}

.container {
    opacity: 0.9;
}

p {
    margin: 5px;
}

button {
    
    margin: auto;
    text-align:center;
}
    

.text {
    margin-top: -50px;
    margin-bottom: 25px;
    text-align:center;
    padding: -25px 0px 0px 0px;
    color: #FFF;
    
}

img {
    width: 150px;;
    border-radius: 25px;
    display: block;
    margin: auto;
    
}

img#lukeSkywalker {
    width: 200px;
}

